@model ASPFINALPROJECT.VWmodels.ViewModels

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    @foreach (var item in ViewBag.TeaBack)
    {
<div class="banner-area text-center" style="background-image: url('Public/img/@item.Image')">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="banner-content-wrapper" >
                    <div class="banner-content">
                        <h2>@item.PageTitle</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>}
</div>
<!-- Banner Area End -->
<!-- Teacher Start -->
<div class="teacher-area pt-150 pb-105">
    <div class="container">
        <div class="row">



            @{ Html.RenderPartial("~/Views/Shared/TeacherPartial.cshtml", Model.meetOurTeachers); }

        </div>
    </div>
</div>
<!-- Teacher End -->